
{% extends "base.html" %}
{% load static %}
{% block navbar %}
    <li><a href="{% url 'login' %}"><i class="fa fa-user-o"></i> login</a></li>
    <li><a href="{% url 'register' %}"><i class="fa fa-user-o"></i> Register</a></li>
                        
{% endblock %}
    
{% block blk %}
  <!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->

    <!-- Title Page-->
    <title>registeration form</title>

    <!-- Icons font CSS-->
    <link href="{% static 'css/material-design-iconic-font08.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'css/font-awesome08.min.css' %}" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="{% static 'css/select2.min08.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'css/daterangepicker08.css' %}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="{% static 'css/main08.css' %}" rel="stylesheet" media="all">
</head>

<body>
    <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">
                    <h2 class="title">Create Account</h2>
                    <form  action="register" method="POST" id="signup-form" class="signup-form">
                        {% csrf_token %} 
                         <!-- <div class="row row-space">
                            <div class="col-2"> -->
                                
                     
        
    
                    <!-- <div class="input-group"> -->
                        <div>
                    <!-- <label class="label">first name</label>     -->
                    <input type="text" class="input--style-4"  placeholder="Enter First Name" name="first_name" required><br>
                     </div> <br>
                         <div>
                                    <input class="input--style-4" placeholder="Enter Last Name"  type="text" name="last_name" required>
                                    </div><br> 
                                    <div>
                                    <input class="input--style-4" type="email"  placeholder="Enter EmailID" name="email" required><br>
                                    </div><br>
                                    <div>
                                    <input class="input--style-4" type="password"  placeholder="Enter Password" name="password1" required><br>
                                    </div><br>
                                    <!-- </div>
                            </div> -->
                            <!-- <div class="col-2">
                                <div class="input-group"> -->
                                    <!-- <label class="label">Confirm password</label> -->
                                    <div>
                                    <input class="input--style-4" type="password"  placeholder="Confirm Password" name="password2" required><br>

                                    </div><br/><br/>
                                    {% for message in messages %}
                                    <p style="font-size: 20px" class="text-danger">{{message}}</p>
                                    {% endfor %}
                                    <!-- </div>
                            </div>
                        </div>
                        <div class="input-group"> -->
                            <!-- <label class="label">Subject</label> -->
                            <!-- 
                             -->
                        </div><br>
                        <div class="p-t-15">
                             <input type="submit" value="register" class="btn btn--radius-2 btn--blue">
  
                       </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
     <script src="{% static 'vendor/jquery.min.js' %}"></script>
    <!-- Vendor JS-->
    <script src="{% static 'vendor/select2.min.js' %}"></script>
    <script src="{% static 'vendor/moment.min.js' %}"></script>
    <script src="{% static 'vendor/daterangepicker.js' %}"></script>

    <!-- Main JS-->
    <script src="{% static 'vendor/global.js' %}"></script>


    
</body>

</html>
{% endblock %}


